.benefits {
	display: flex;
	margin: 0 rem(-21.5px);
@include phones{
	flex-direction: column;
	padding: 0 rem(10px);
}
	&__item {
		flex: 1 1 auto;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0 rem(21.5px);
		position: relative;
		@include phones{
			flex-direction: row;
			margin-bottom: rem(31px);
		}
		&::after{
			content: '';
			display: block;
			width: rem(19px);
			height: rem(19px);
			background: #DADADA;
			border-radius: 50%;
			position: absolute;
			top: rem(50px);
			right:0;
			transform: translateX(50%);
			@include tablets{
				display: none;
			}
			@include phones{
				display: none;
			}
		}
	}
	&__item:last-child{
		&::after{
			display: none;
		}
	}
}
.benefit {

	&__picture{
		margin-bottom: rem(20px);
	}

	&__picture-wrapper {
		background: #F2F5F4;
		width: rem(128px);
		height: rem(128px);
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__icon {
	}

	&__text {
		@include phones{
			padding: 0 10% 0 2%;
			text-align: left;
		}
	}

	&__title {
		margin-bottom: rem(20px);
		font-size:rem(27px);
		font-weight: 700;
		color: #000;
	}

	&__desc {
		
	}
}
